@mixin font($size, $style: normal, $weight: 600, $height) {
    font-size: $size;
    font-style: $style;
    font-weight: $weight;
    line-height: $height;
  }
  
  @mixin media-desktop-small {
    @media screen and (max-width: $desktop-small-width) {
      @content;
    }
  }
  
  @mixin media-tablet-large {
    @media screen and (max-width: $tablet-large-width) {
      @content;
    }
  }
  
  @mixin media-tablet-small {
    @media screen and (max-width: $tablet-small-width) {
      @content;
    }
  }
  
  @mixin media-tablet-small-2 {
    @media screen and (max-width: $tablet-small-2-width) {
      @content;
    }
  }
  
  @mixin media-mobile-large {
    @media screen and (max-width: $mobile-large-width) {
      @content;
    }
  }
  
  @mixin media-mobile-medium {
    @media screen and (max-width: $mobile-medium-width) {
      @content;
    }
  }
  
  @mixin hover {
    @media (hover: hover) {
      @content;
    }
  }