.link-button {
    min-width: 200px;
    border-radius: 100px;
    background: $color-bg-body;
    padding: 20px 0 20px 0;
    color: $color-text-dark;
    text-align: center;
    @include font(1.6rem, normal, 600, 2.4rem);
    text-decoration: none;
  }