.icon {
  display: inline-block;
  cursor: pointer;
  @extend %transition;
}

.icon_coffee {
  background-image: url("~/src/assets/images/icons/coffee-cup.svg");
  width: 20px;
  height: 20px;
}

.icon_coffee-mobile-menu {
  background-image: url("~/src/assets/images/icons/coffee-cup-burger-menu.svg");
  width: 40px;
  height: 40px;
}

.icon_app-store {
  background-image: url(".~/src/assets/images/icons/icon-app-store.svg");
  width: 36px;
  height: 36px;
}

.icon_google-play {
  background-image: url("~/src/assets/images/icons/icon-google-play.svg");
  width: 36px;
  height: 36px;
}

.icon_twitter {
  background-image: url("~/src/assets/images/icons/twitter.svg");
  width: 24px;
  height: 24px;
}

.icon_instagram {
  background-image: url("~/src/assets/images/icons/instagram.svg");
  width: 24px;
  height: 24px;
}

.icon_facebook {
  background-image: url("~/src/assets/images/icons/facebook.svg");
  width: 24px;
  height: 24px;
}

.icon_location {
  background-image: url("~/src/assets/images/icons/pin-alt.svg");
  width: 20px;
  height: 20px;
}

.icon_phone {
  background-image: url("~/src/assets/images/icons/phone.svg");
  width: 20px;
  height: 20px;
}

.icon_clock {
  background-image: url("~/src/assets/images/icons/clock.svg");
  width: 20px;
  height: 20px;
  cursor: default;
}

.icon_menu-tab-coffee {
  background-image: url("~/src/assets/images/icons/menu_tab_coffee_icon.svg");
  width: 16px;
  height: 16px;
}

.icon_menu-tab-tea {
  background-image: url("~/src/assets/images/icons/menu_tab_tea_icon.svg");
  width: 16px;
  height: 16px;
}

.icon_menu-tab-dessert {
  background-image: url("~/src/assets/images/icons/menu_tab_dessert_icon.svg");
  width: 16px;
  height: 16px;
}

.icon-load-more {
  background-image: url("~/src/assets/images/icons/refresh.svg");
  width: 24px;
  height: 24px;
}
